# DISCOVER specific shared settings used by specific preprocessor scripts

source /usr/share/modules/init/sh
module purge

unset LD_LIBRARY_PATH

#module load comp/intel-15.0.3.187 
#module load lib/mkl-15.0.3.187
#module load other/comp/gcc-5.3-sp3
#module load mpi/sgi-mpt-2.12

#module load comp/intel/17.0.7.259
##module load lib/mkl/17.0.7.259
#module load comp/gcc/6.5.0
#module load mpi/sgi-mpt/2.16
#module load mpi/impi/17.0.7.259

#-test
#module load comp/intel/18.0.5.274
#module load comp/gcc/8.3.0
#module load mpi/impi/18.0.5.274

#-for nu-wrf-v11
##module load python/GEOSpyD/Ana2019.10_py3.7
##module load comp/gcc/9.2.0
##module load comp/intel/19.1.3.304
##module load mpi/impi/19.1.3.304
#module load comp/intel/20.0.0.166
#module load comp/gcc/9.3.0
#module load mpi/impi/20.0.0.166
module load comp/intel/2021.4.0
module load comp/gcc/11.2.0
module load mpi/impi/2021.4.0
module load python/GEOSpyD/Ana2019.10_py3.7

# Make sure stacksize is unlimited
ulimit -s unlimited

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64

#LISDIR=/discover/nobackup/projects/lis

# *** Please make sure these settings are correct ***
# NUWRFDIR specifies the location of the NU-WRF source code
#NUWRFDIR=$NUWRFDIR     #/discover/nobackup/pxue/nu-wrf
# RUNDIR specifies the location of the temporary run directory
#RUNDIR=$RUNDIR #/discover/nobackup/pxue/scratch/basic_workflow

#export NUWRFDIR=/discover/nobackup/pxue/nu-wrf-coupled
#export RUNDIR=/discover/nobackup/pxue/run_gls_coupled

# Set environment variables needed by RIP
#export LIBROOT=/discover/nobackup/projects/nu-wrf/lib/intel-sgimpt-bjerknes-p5
#export LIBROOT=/discover/nobackup/projects/nu-wrf/lib/intel-intelmpi
#export LIBDIR_TAG=/discover/nobackup/projects/nu-wrf/lib/sles12/ekman/intel-intelmpi
