#!/bin/sh
#------------------------------------------------------------------------------
# NASA/GSFC, Computational and Information Science and Technology Office,
# Code 606
#------------------------------------------------------------------------------
#
# SCRIPT:  nu-wrf.cfg
#
# DESCRIPTION:
#
# NU-WRF build configuration script for DISCOVER and PLEIADES
#
# DISCOVER only: Supports optional compilation for Allinea MAP (a profiler).
#
# HISTORY:
#
# Original version: Rob Burns and Eric Kemp, SSAI and NASA/CISTO
# Major mods by Carlos Cruz:
#    - Consolidated discover/pleiades scripts into this one.
#    - As before, LIBROOT defines the path of non-system libraries (aka Baselibs)
#      However, now the assumption is made that LIBROOT have the form:
#          $ROOT/<COMPILER>-<MPI>
#      so that COMPILER and MPI are automatically set (and not hardwired in the
#      script but rather in the path)
#    - If the environment variable NUWRF_INSTALL_DIR is set, then the executables
#      from the NUWRF build are "installed" there. This allows for various builds
#      to originate from one code base. Of course an "allclean" must still be
#      prformed between builds.
#
#------------------------------------------------------------------------------

MACHINE=$(uname -n)
if [[ "${MACHINE}" =~ "discover" || "${MACHINE}" =~ "borg" ]]; then
   export platform="discover"
else
   export platform="pleiades"
fi

# This script builds NU-WRF using a compiler-mpi combination that is consistent with
# the build settings used for the external libraries. The external libraries are
# assumed to be installed in the $LIBROOT path. The user can optionally set the LIBROOT
# environment variable or if on discover/pleiades a default will be used.
if [ -z "$LIBROOT" ]; then
   echo "   ENV: LIBROOT is not set." 
   if [ "${platform}" == "discover" ]; then
     LIBROOT=/discover/nobackup/projects/nu-wrf/lib/intel-sgimpt
   else
     LIBROOT=/nobackupp8/nuwrf/lib/intel-sgimpt
   fi
   echo "Setting LIBROOT=$LIBROOT"
fi

# Assume libroot path has the form $ROOT/<COMPILER>-<MPI>
libd=(${LIBROOT//\// })
length=${#libd[@]}
combo=${libd[length-1]}
settings=(${combo//-/ })

# Extract settings:
COMPILER_VENDOR=${settings[0]}
MPI_VENDOR=${settings[1]}

if [ -z "$COMPILER_VENDOR" ]; then
  echo "ENV: COMPILER_VENDOR is not set (options are intel, gnu)" 
  exit
else
  echo "Found COMPILER_VENDOR: $COMPILER_VENDOR"
  [[ "$COMPILER_VENDOR" == "gnu" ]] || [[ "$COMPILER_VENDOR" == "intel" ]]
  if [ $? != 0 ]; then
    echo "ENV: COMPILER_VENDOR valid options are intel or gnu."
    exit
  fi
fi
if [ -z "$MPI_VENDOR" ]; then
  echo "   ENV: MPI_VENDOR is not set (options are sgimpt, openmpi, mvapich2)" 
  exit
else
  echo "Found MPI_VENDOR     : $MPI_VENDOR"
  [[ "${MPI_VENDOR}" == "sgimpt" ]] || [[ "${MPI_VENDOR}" == "openmpi" ]]  || [[ "${MPI_VENDOR}" == "mvapich2" ]] 
  if [ $? != 0 ]; then
    echo "ENV: MPI_VENDOR valid options are sgimpt or openmpi."
    exit
  fi
fi
export COMPILER_VENDOR
export LIBROOT=$LIBROOT

#------------------------------------------------------------------------------
# Load environment modules and define libraries.
#------------------------------------------------------------------------------

source /usr/share/modules/init/bash
module purge
unset LD_LIBRARY_PATH


if [ "$COMPILER_VENDOR" == "gnu" ]; then
   if [ "${platform}" == "discover" ]; then
     module load other/comp/gcc-4.9.2-sp3
     #module load other/comp/gcc-5.2-sp3
   else
     echo "Not available"
     exit
   fi
   if [ "$MPI_VENDOR" == "sgimpt" ]; then
      module load mpi/sgi-mpt-2.12
      export MPI_IMPLEMENTATION="SGI_MPT"
      export mpi=sgimpt
   elif [ "$MPI_VENDOR" == "mvapich2" ]; then
     module load other/mpi/mvapich2-2.1/gcc-4.9.2-sp3
     export MPI_IMPLEMENTATION="MVAPICH2"
     export mpi=mvapich2
   else
     module load other/mpi/openmpi/1.8.4-gcc-4.9.2-sp3
     #module load other/mpi/openmpi/1.8.7-gcc-5.2-sp3
     export MPI_IMPLEMENTATION="OPENMPI"
     export mpi=openmpi
   fi
   export CC=gcc
   export CXX=g++
   export NUWRF_FC=gfortran
   export FC=gfortran
   export F77=gfortran

   export MPICC_CC=gcc
   export MPIF90_F90=gfortran
   export MPICXX_CXX=g++

   export compiler=gfortran
   TRACEBACK_FLAG=-fbacktrace

else
   if [ "${platform}" == "discover" ]; then
     #module load other/comp/gcc-5.3-sp3
     #module load comp/intel-15.0.3.187
     #module load lib/mkl-15.0.3.187
     #module load mpi/sgi-mpt-2.12
     #module load tool/allinea-tools-5.0.1
     #-chenfu
     #module load comp/gcc/6.5.0
     #module load comp/intel/17.0.7.259
     #module load lib/mkl/17.0.7.259
     #module load mpi/sgi-mpt/2.16
     #-chenfu-new
     module load python/GEOSpyD/Ana2019.10_py3.7
     module load comp/gcc/9.2.0
     module load comp/intel/19.1.3.304
     module load mpi/impi/19.1.3.304
   else
     module load gcc/6.2
     module load comp-intel/2015.3.187
     module load mpi-sgi/mpt
   fi
   export CC=icc
   export CXX=icpc
   export MPI_IMPLEMENTATION="SGI_MPT"
   export FC=ifort
   export F77=ifort

   export MPICC_CC=icc
   export MPIF90_F90=ifort
   export MPICXX_CXX=icpc

   export compiler=intel
   export mpi=sgimpt
   TRACEBACK_FLAG=-traceback

fi
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib64
# We define Baselibs to maintain an old "tradition" to name external libraries as such
export BASELIBS=$LIBROOT

export BUFRLIB=$BASELIBS/bufrlib
export CAIRO=$BASELIBS/cairo
export CAIRO_INCLUDE=$CAIRO/include/cairo
export CAIRO_LIB=$CAIRO/lib

export ESMF_ROOT=$BASELIBS/esmf
export ESMF_MPI_LIB=$ESMF_ROOT/lib/libO/Linux.${compiler}.64.${mpi}.default
export ESMF_MPI_MOD=$ESMF_ROOT/mod/modO/Linux.${compiler}.64.${mpi}.default

export FORTRANGIS=$BASELIBS/fortrangis
export FREETYPE=$BASELIBS/freetype
export FREETYPE_INCLUDE=$FREETYPE/include/freetype
export FREETYPE_LIB=$FREETYPE/lib
export G2CLIB=$BASELIBS/g2clib
export GDAL=$BASELIBS/gdal
export GHOSTSCRIPT=$LIBROOT/ghostscript
export GRIBAPI=$BASELIBS/grib_api
export GRIBAPI_INCLUDE=$GRIBAPI/include
export GRIBAPI_LIB=$GRIBAPI/lib
export GSL=$BASELIBS/gsl
export HDF4=$BASELIBS/hdf4
export HDF4_PATH=$HDF4
export HDF4_INCLUDE=$HDF4/include
export HDF4_LIB=$HDF4/lib
export HDF5=$BASELIBS/hdf5
export HDF5_PATH=$HDF5 
export HDF5_INCLUDE=$HDF5/include
export HDF5_LIB=$HDF5/lib
export HDFEOS=$BASELIBS/hdfeos
export HDFEOS_PATH=$HDFEOS
export HDFEOS_INCLUDE=$HDFEOS/include
export HDFEOS_LIB=$HDFEOS/lib
export JASPER=$BASELIBS/jasper
export JPEG=$BASELIBS/jpeg
export PNG=$BASELIBS/png
export NCARG_ROOT=$BASELIBS/ncarg

# NetCDF4 with HDF5 compression
export NETCDF_4=$BASELIBS/netcdf4
export NETCDF_4_INCLUDE=${NETCDF_4}/include
export NETCDF_4_LIB=${NETCDF_4}/lib

# Generic aliases for netCDF.  Uses netCDF4.
export NETCDF=${NETCDF_4}
export NETCDF_INCLUDE=${NETCDF_4_INCLUDE}
export NETCDF_LIB=${NETCDF_4_LIB}
export NETCDF4=1 # WRF flag, HDF5 compression

# Generic aliases for netCDF.  Uses netCDF w/o HDF5 compression.
#export NETCDF=$BASELIBS/netcdf
#export NETCDF_INCLUDE=$NETCDF/include
#export NETCDF_LIB=$NETCDF/lib
#export NETCDF4=0 # WRF flag, No HDF5 compression

export PIXMAN=$BASELIBS/pixman
export ZLIB=$BASELIBS/zlib
export ZLIB_PATH=$ZLIB 
export ZLIB_LIB=$ZLIB/lib

#------------------------------------------------------------------------------
# Settings for WRFV3.
#------------------------------------------------------------------------------

export J="-j 2" # Parallel make

# Flag to compile WRFV3 with MPI.  Required in NU-WRF.
export WRF_USE_MPI=1

# Flag to disable compilation of CLM4 in WRF.  Saves 10 minutes.
export WRF_SKIP_CLM4=1

# Options sent to configure script
if [ "$COMPILER_VENDOR" == "gnu" ]; then
    if [ "$MPI_VENDOR" == "sgimpt" ]; then
        export WRF_CONFIGURE_MPI_OPT=74
    elif [ "$MPI_VENDOR" == "mvapich2" ]; then
        export WRF_CONFIGURE_MPI_OPT=82
    else
        export WRF_CONFIGURE_MPI_OPT=78
    fi
    export WRF_CONFIGURE_LIS_MPI=configure.lis.linux_gfortran.nuwrf_mpi
    export LIS_ARCH=linux_gfortran
else
    export WRF_CONFIGURE_MPI_OPT=70
    export WRF_CONFIGURE_LIS_MPI=configure.lis.linux_ifc.nuwrf_mpi
    export LIS_ARCH=linux_ifc
fi

# Allow large (> 2 Gb netCDF files)
export WRFIO_NCD_LARGE_FILE_SUPPORT=1

# ESMF Library for WRFV3                                                      
export WRF_ESMF_LIBS_MPI="-L$ESMF_MPI_LIB -lesmf -lstdc++ -lrt"

# ZLIB library for WRFV3 (required by LIS)                                     
export WRF_ZLIB_LIBS="-L$ZLIB -lz"

# GRIBAPI library for WRFV3 (required by LIS 7)                           
export WRF_GRIBAPI_LIBS="-L$GRIBAPI_LIB -lgrib_api_f90 -lgrib_api"

# Need yacc and flex for KPP.
export YACC='/usr/bin/yacc -d'
export FLEX_LIB_DIR='/usr/lib64'

# Compiler debugging flags
WRF_DEBUG_CFLAGS_LOCAL="-g ${TRACEBACK_FLAG}"
WRF_DEBUG_CFLAGS_LOCAL+=" -O0"
WRF_DEBUG_CFLAGS_LOCAL+=" -w"
WRF_DEBUG_CFLAGS_LOCAL+=" -check=conversions,stack,uninit"
WRF_DEBUG_CFLAGS_LOCAL+=" -debug"
export WRF_DEBUG_CFLAGS_LOCAL

WRF_DEBUG_FCOPTIM="-g ${TRACEBACK_FLAG}"
WRF_DEBUG_FCOPTIM+=" -O0"
WRF_DEBUG_FCOPTIM+=" -w"
WRF_DEBUG_FCOPTIM+=" -check bounds,pointers,stack,uninit"
WRF_DEBUG_FCOPTIM+=" -debug"
export WRF_DEBUG_FCOPTIM

# Special libraries for compiling WRF for Allinea MAP.
# Provided by Georgios Britzolakis of NCCS
if [ "${platform}" == "discover" ]; then
  ALLINEA_DIR=$(cd $(dirname $0) ; pwd)
  ALLINEA_DIR+="/Allinea"
  export ALLINEA_DIR
  export ALLINEA_LIBS=$ALLINEA_DIR
  WRF_PROFILEMAP_LIBS=" -WL,@$ALLINEA_LIBS/allinea-profiler.ld"
  export WRF_PROFILEMAP_LIBS
fi
export WRF_DEBUG_FCNOOPT=$WRF_DEBUG_FCOPTIM

export WRF_DEBUG_LIS_CFLAGS=$WRF_DEBUG_CFLAGS_LOCAL
export WRF_DEBUG_LIS_FFLAGS77=$WRF_DEBUG_FCOPTIM
export WRF_DEBUG_LIS_FFLAGS=$WRF_DEBUG_FCOPTIM

#------------------------------------------------------------------------------
# Settings for WPS.
#------------------------------------------------------------------------------

# Flag to compile WPS with MPI.  Required in NU-WRF.
export WPS_USE_MPI=1

# Configure options for WPS
if [ "$COMPILER_VENDOR" == "gnu" ]; then
    export WPS_CONFIGURE_MPI_OPT=51
else
    export WPS_CONFIGURE_MPI_OPT=47
fi

# GRIB2 libraries (Jasper, PNG, and ZLIB) for WPS
export WPS_GRIB2_LIBS="$JASPER/lib -L$PNG/lib -L$ZLIB/lib"
export WPS_GRIB2_INC="$JASPER/include -I$PNG/include -I$ZLIB/include"

# Compiler debug flags
WPS_DEBUG_CFLAGS="-g ${TRACEBACK_FLAG}"
WPS_DEBUG_CFLAGS+=" -O0"
WPS_DEBUG_CFLAGS+=" -w"
WPS_DEBUG_CFLAGS+=" -check=conversions,stack,uninit"
WPS_DEBUG_CFLAGS+=" -debug"
export WPS_DEBUG_CFLAGS

WPS_DEBUG_FFLAGS="-g ${TRACEBACK_FLAG}"
WPS_DEBUG_FFLAGS+=" -O0"
WPS_DEBUG_FFLAGS+=" -w"
WPS_DEBUG_FFLAGS+=" -check bounds,pointers,stack,uninit"
WPS_DEBUG_FFLAGS+=" -debug"
WPS_DEBUG_FFLAGS+=" -FR"
export WPS_DEBUG_FFLAGS

WPS_DEBUG_F77FLAGS="-g ${TRACEBACK_FLAG}"
WPS_DEBUG_F77FLAGS+=" -O0"
WPS_DEBUG_F77FLAGS+=" -w"
WPS_DEBUG_F77FLAGS+=" -check bounds,pointers,stack,uninit"
WPS_DEBUG_F77FLAGS+=" -debug"
WPS_DEBUG_F77FLAGS+=" -FI"
export WPS_DEBUG_F77FLAGS

#------------------------------------------------------------------------------
# Settings for UPP                                                            
#------------------------------------------------------------------------------

# Flag to compile UPP with MPI.  Required in NU-WRF.
export UPP_USE_MPI=1

# Configure options for UPP.
if [ "$COMPILER_VENDOR" == "gnu" ]; then
  export UPP_CONFIGURE_MPI_OPT=20
else
  export UPP_CONFIGURE_MPI_OPT=18
fi

# GRIB2 libraries (Jasper, PNG, and ZLIB) for UPP
export UPP_GRIB2_LIBS="$JASPER/lib -L$PNG/lib -L$ZLIB/lib"
export UPP_GRIB2_INC="$JASPER/include -I$PNG/include -I$ZLIB/include"

# GRIB_API library 
export UPP_GRIB_API_LIB="-L$GRIBAPI/lib -lgrib_api_f90 -lgrib_api"

#------------------------------------------------------------------------------
# Settings for RIP                                                            
#------------------------------------------------------------------------------

if [ "$COMPILER_VENDOR" == "gnu" ]; then
  export RIP_CONFIGURE_OPT=3
else
  export RIP_CONFIGURE_OPT=5
fi

#------------------------------------------------------------------------------
# Settings for ARWpost                                                        
#------------------------------------------------------------------------------

if [ "$COMPILER_VENDOR" == "gnu" ]; then
    export ARWPOST_CONFIGURE_OPT=5
else
    export ARWPOST_CONFIGURE_OPT=4
fi

#------------------------------------------------------------------------------
# Settings for MET                                                            
#------------------------------------------------------------------------------
export MET_BUFR=$BUFRLIB
export MET_BUFRINC=$BUFRLIB/include
export MET_BUFRLIB=$BUFRLIB/lib

export MET_CAIRO=$CAIRO
export MET_CAIROINC=$CAIRO_INCLUDE
export MET_CAIROLIB="$CAIRO_LIB -L$PIXMAN/lib -L$PNG/lib"

export MET_FONT_DIR=$GHOSTSCRIPT

export MET_FREETYPE=$FREETYPE
export MET_FREETYPEINC=$FREETYPE_INCLUDE
export MET_FREETYPELIB=$FREETYPE_LIB

export MET_GRIB2C=$G2CLIB
export MET_GRIB2CINC=$G2CLIB/include
export MET_GRIB2CLIB="$G2CLIB/lib -L$JASPER/lib -L$PNG/lib -L$ZLIB/lib"

export MET_GSL=$GSL
export MET_GSLINC=$GSL/include
export MET_GSLLIB=$GSL/lib

export MET_HDF=$HDF4
export MET_HDFINC=$HDF4/include
export MET_HDFLIB=$HDF4/lib

export MET_HDFEOS=$HDFEOS
export MET_HDFEOSINC=$HDFEOS/include
export MET_HDFEOSLIB=$HDFEOS/lib

export MET_NETCDF=${NETCDF}
export MET_NETCDFINC=${NETCDF}/include
export MET_NETCDFLIB="${NETCDF}/lib -L$HDF5/lib -L$ZLIB/lib"

#------------------------------------------------------------------------------
# Settings for GSDSU.
#------------------------------------------------------------------------------

# Makefile template for GSDSU
if [ "$COMPILER_VENDOR" == "gnu" ]; then
    export GSDSU_MAKEFILE="makefile.nuwrf.gfortran"
else
    export GSDSU_MAKEFILE="makefile.nuwrf.ifort"
fi

# NetCDF library for GSDSU
export GSDSU_NETCDF_INCDIR=$NETCDF/include
export GSDSU_NETCDF_LIBDIR=$NETCDF/lib
export GSDSU_NETCDF4_DEP_LIB="-L$HDF5/lib -L$ZLIB/lib -lhdf5_hl -lhdf5 -lz"

#------------------------------------------------------------------------------
# Settings for LDT
#------------------------------------------------------------------------------

if [ "$COMPILER_VENDOR" == "gnu" ]; then
    export LDT_ARCH=linux_gfortran
else
    export LDT_ARCH=linux_ifc
fi
export LDT_FC=mpif90
export LDT_CC=mpicc
export LDT_GRIBAPI=$GRIBAPI
export LDT_NETCDF=${NETCDF_4} # NetCDF4 w/ HDF5 compression required for LDT.
export LDT_HDF5=$HDF5
export LDT_MODESMF=$ESMF_MPI_MOD
export LDT_LIBESMF=$ESMF_MPI_LIB
export LDT_JASPER=$JASPER
export LDT_HDF4=$HDF4
export LDT_HDFEOS=$HDFEOS
export LDT_SKIP_HISTORY=1 # To skip history date/time stamp metadata

#------------------------------------------------------------------------------
# Settings for LVT
#------------------------------------------------------------------------------

# Name of configuration file under the "arch" folder to use for this system.
if [ "$COMPILER_VENDOR" == "gnu" ]; then
    export LVT_ARCH_CONFIGURE_FILE=configure.lvt.linux_gfortran
    export LVT_ARCH=linux_gfortran
else
    export LVT_ARCH_CONFIGURE_FILE=configure.lvt.linux_ifc.discover
    export LVT_ARCH=linux_ifc
fi
export LVT_NETCDF4_DEP_LIB="-L$HDF5/lib -L$ZLIB/lib -lhdf5_hl -lhdf5 -lz"
export LVT_FC=mpif90
export LVT_CC=mpicc
export LVT_GRIBAPI=$GRIBAPI
export LVT_NETCDF=${NETCDF_4} # NetCDF4 w/ HDF5 compression required for LVT.
export LVT_HDF5=$HDF5
export LVT_MODESMF=$ESMF_MPI_MOD
export LVT_LIBESMF=$ESMF_MPI_LIB
export LVT_JASPER=$JASPER
export LVT_HDF4=$HDF4
export LVT_HDFEOS=$HDFEOS

#------------------------------------------------------------------------------
# Make sure compilation occurs on SLES11.3 operating system.
#------------------------------------------------------------------------------

if [ "${platform}" == "discover" ]; then

  if grep "VERSION = 12" /etc/SuSE-release > /dev/null ; then
    if grep "PATCHLEVEL = 3" /etc/SuSE-release > /dev/null ; then
      error=0
    else
      error=1
    fi
  else
    error=1
  fi
  
  if [ $error -eq 1 ] ; then
    echo "ERROR, local operating system is not SLES12!"
    echo "This build configuration should only be used on an updated operating system."
    echo "Check www.nccs.nasa.gov for list of login nodes running SLES12."
    echo "Or switch to an older build configuration."
    exit 1
  fi

fi
