# This configuration file defines the setup for NU-WRF regression tests.
[USERCONFIG]
# Repository we are testing (type and url):
repo_type=git
repo_url=/discover/nobackup/ccruz/devel/nu-wrf/code/gitlab/nu-wrf-dev
# Branch name.
repo_branch=v11.1
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratch_dir=/discover/nobackup/projects/nu-wrf/regression_testing/develop
# Where we keep the regression scripts. Default <repository>/scripts/regression
scripts_dir=/discover/nobackup/ccruz/devel/nu-wrf/code/gitlab/nu-wrf-dev/scripts/python/regression
# Compilation type (release, debug (-O0 -g), traps)
build_type=release
# Where to mail tests report
mail_to=
#
#
# The following options are not commonly changed:
# Use SLURM batch system on DISCOVER (NASA only)
# If set to 'no', script (and commands therein) will run interactively.
use_batch=yes
# sponsor ID required by SLURM
sponsor_id=s0942
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
use_modules=yes
# In case we update to CMake.... for now makeOld refers to GNU make.
make_system=makeOld
# Test report message (One sentence, no quotes)
message=Regression testing of NU-WRF development code base (Default)
use_html=yes
# Clean the regression testing scratch space (under scratch_dir)
clean_scratch=yes
#
# Data path for the test cases. Default <project_dir>/regression_testing/data
# where <project_dir> = /discover/nobackup/projects/nu-wrf
data_dir=/discover/nobackup/projects/nu-wrf/regression_testing/data/testcases
# Location of NU-WRF output baseline files
baseline_dir=/discover/nobackup/projects/nu-wrf/regression_testing/baselines
# Update baseline_dir with new model answers
update_base=yes
# Location of third-party libraries used by NU-WRF
nuwrflib_dir=/discover/nobackup/projects/nu-wrf/lib/sles12/ekman
# LIS project directory
lis_project_dir=/discover/nobackup/projects/lis
# To use a NU-WRF existing build, define model_dir below. 
# If nothing specified then new builds will be created.
model_dir=
# If Executables exist in a separate installation set the following variable:
exe_dir=
# If we want to recreate (setup) a testcase without running the components:
setup_runs=no

############
# Test cases
############

# WRF-only tests
# --------------

[wrf_arw_matthew]
compilers=intel-intelmpi
npes=4,1,4,4,28
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2016-10-06_00:00:00

[wrf_arw_matthew_sst]
compilers=intel-intelmpi
npes=4,1,4,4,28
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2016-10-06_00:00:00

[wrf_cfsr_2017rad]
compilers=intel-intelmpi
npes=4,1,4,28,84
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2019-04-30_12:00:00

[wrf_era5_2017rad]
compilers=intel-intelmpi
npes=4,1,4,28,84
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2016-01-01_12:00:00

[wrf_4ice_2017rad]
compilers=intel-intelmpi
npes=4,1,4,28,84
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2015-07-11_12:00:00

[wrf_4ice_2017rad_noahmp]
compilers=intel-intelmpi
npes=4,1,4,28,84
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2015-07-11_12:00:00

[wrf_4ice_2017rad_2dom]
compilers=intel-intelmpi
npes=4,1,4,28,84
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2015-07-11_12:00:00,wrfout_d02_2015-07-11_12:00:00

# Fails
[wrf_ntu_2017radCONFIG]
compilers=intel-intelmpi
npes=56,1,56,56,192
components=geogrid,ungrib,metgrid,real,wrf

# Fails
[wrf_crm_lesCONFIG]
compilers=intel-intelmpi
npes=56,1,56,56,56
components=geogrid,ungrib,metgrid,real,wrf

# This is not setup yet
[wrf_elecCONFIG]
compilers=intel-intelmpi
npes=56,1,56,56,504
components=geogrid,ungrib,metgrid,real,wrf

# Fails
[wrf_4ice_2017rad_lake_shi_3domCONFIG]
compilers=intel-intelmpi
npes=56,1,56,56,308
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2007-01-19_00:00:00,wrfout_d01_2007-01-19_03:00:00,wrfout_d02_2007-01-19_00:00:00,wrfout_d02_2007-01-19_03:00:00,wrfout_d03_2007-01-19_00:00:00,wrfout_d03_2007-01-19_03:00:00

# WRF-LIS coupling tests
# ----------------------

[wrflis_noah36_modis_merra2]
compilers=intel-intelmpi
npes=56,1,1,56,1,1,192,1,56,192
components=geogrid,merra2wrf,sst2wrf,metgrid,liswrf_domain,ldt_prelis,lis,ldt_postlis,real,wrf
expected_output=wrfout_d01_2015-07-11_12:00:00

[wrflis_noah36_modis_gdas]
compilers=intel-intelmpi
npes=28,1,28,1,192,1,56,192
components=geogrid,ungrib,metgrid,ldt_prelis,lis,ldt_postlis,real,wrf
expected_output=wrfout_d01_2015-07-11_12:00:00

[wrflis_noahmp36_modis_merra2]
compilers=intel-intelmpi
npes=56,1,1,56,1,1,192,1,56,192
components=geogrid,merra2wrf,sst2wrf,metgrid,liswrf_domain,ldt_prelis,lis,ldt_postlis,real,wrf
expected_output=wrfout_d01_2015-07-11_12:00:00

[wrflis_noahmp36_modis_gdas]
compilers=intel-intelmpi
npes=28,1,28,1,192,1,56,192
components=geogrid,ungrib,metgrid,ldt_prelis,lis,ldt_postlis,real,wrf
expected_output=wrfout_d01_2015-07-11_12:00:00

# Fails
[wrflis_noahmp401_modis_gdasCONFIG]
compilers=intel-intelmpi
npes=28,1,1,1,56,1,192,1,56,192
components=geogrid,ungrib,avg_tsfc,sst2wrf,metgrid,ldt_prelis,lis,ldt_postlis,real,wrf

[wrflis_noahmp36_nldas2]
compilers=intel-intelmpi
components=ldt_prelis,lis
npes=1,4
expected_output=LIS_HIST_198506020000.d01.nc

# WRFCHEM tests
# --------------

[chem_gfed4_gocart]
compilers=intel-intelmpi
npes=28,1,28,28,1,1,1,56
components=geogrid,ungrib,metgrid,real,prep_chem_sources,gocart2wrf,convert_emiss,wrf
expected_output=wrfout_d01_2008-01-01_00:00:00,wrfout_d01_2008-01-01_03:00:00,wrfout_d01_2008-01-01_06:00:00,wrfout_d01_2008-01-01_09:00:00,wrfout_d01_2008-01-01_12:00:00,wrfout_d01_2008-01-01_15:00:00,wrfout_d01_2008-01-01_18:00:00,wrfout_d01_2008-01-01_21:00:00,wrfout_d01_2008-01-02_00:00:00

[chem_erod_dyn]
compilers=intel-intelmpi
npes=28,1,28,28,192
components=geogrid,ungrib,metgrid,real,wrf
expected_output=wrfout_d01_2011-07-04_00:00:00,wrfout_d01_2011-07-04_03:00:00

# WRFCHEM-LIS coupling tests
# --------------------------

[chem_dead_lis]
compilers=intel-intelmpi
npes=56,1,1,56,1,320,1,56,1,1,1,320
components=geogrid,merra2wrf,ndvibareness4wrf,metgrid,ldt_prelis,lis,ldt_postlis,real,prep_chem_sources,gocart2wrf,convert_emiss,wrf

# WFRCHEM-KPP
# -----------

[kpp_qfed_gocartracm]
compilers=intel-intelmpi
npes=28,1,28,28,1,1,1,84
components=geogrid,ungrib,metgrid,real,gocart2wrf,prep_chem_sources,convert_emiss,wrf
expected_output=wrfout_d01_2008-01-01_00:00:00,wrfout_d01_2008-01-01_03:00:00,wrfout_d01_2008-01-01_06:00:00,wrfout_d01_2008-01-01_09:00:00,wrfout_d01_2008-01-01_12:00:00,wrfout_d01_2008-01-01_15:00:00,wrfout_d01_2008-01-01_18:00:00,wrfout_d01_2008-01-01_21:00:00,wrfout_d01_2008-01-02_00:00:00

# Fails
[kpp_gfed4_gocartracmCONFIG]
compilers=intel-intelmpi
npes=28,1,28,28,1,1,1,84
components=geogrid,ungrib,metgrid,real,gocart2wrf,prep_chem_sources,convert_emiss,wrf
expected_output=wrfout_d01_2008-01-01_00:00:00,wrfout_d01_2008-01-01_03:00:00,wrfout_d01_2008-01-01_06:00:00,wrfout_d01_2008-01-01_09:00:00,wrfout_d01_2008-01-01_12:00:00,wrfout_d01_2008-01-01_15:00:00,wrfout_d01_2008-01-01_18:00:00,wrfout_d01_2008-01-01_21:00:00,wrfout_d01_2008-01-02_00:00:00

# Single Column Model (with LIS coupling)
# ---------------------------------------

# Fails
[wrflis_scmCONFIG]
compilers=intel-intelmpi
npes=1,1,1,1,1,1,1,1,1,1
components=geogrid,ungrib,metgrid,ldt_prelis,lis,ldt_postlis,build_scm_forcing,lis4scm,ideal,wrf
expected_output=wrfout_d01_2006-07-14_00:00:00,wrfout_d01_2006-07-14_12:00:00,wrfout_d01_2006-07-15_00:00:00

